<h1>login</h1>

<form action="/login" method="POST">
	<input type="text" name="username"
		placeholder="username">
	<input type="password" name="password"
		placeholder="password">
	<button>login</button>
</form>

<h1>Aloitussivu</h1>

<li><a href="/register">Rekisteröidy</a></li>
<li><a href="/login">Kirjaudu</a></li>
<li><a href="/logout">Poistu</a></li>
